
.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.page-title {
  font-size: 20px;
  letter-spacing: 1.6px;
  font-weight: bold;
  text-align: center;
}

.description {
  margin: 18px 0 23px 0;
  font-size: 16px;
}

.btn-outline-primary {
  font-weight: bold;
}

.form-group {
  margin-top: 30px;
  font-size: 12px;
  p {
    font-size: 16px;
    margin: 0;
  }
}

/* 検索機能付きセレクトボックス */
.searchable-select {
  position: relative;
  .search-box {
    display: none;
    padding: 0 16px;
  }
  .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 100;
    display: none;
    max-height: 150px;
    overflow-y: auto;
    input {
      width: 100%;
      padding: 2px 16px;
      display: block;
      border: 1px solid #ccc;
    }
    div {
      padding: 2px 16px;
      cursor: pointer;
    }
    .selected,
    div:hover {
      background-color: #007bff;
      color: #fff;
    }
    .hidden {
      display: none;
    }
  }
}
